<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:Android="http://schemas.android.com/apk/res-auto"
    package="org.egret.launcher.wdtest">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        >

        <!-- egret main activity -->
        <activity android:name=".MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateAlwaysVisible"
            android:configChanges="orientation|keyboardHidden|screenSize"
            >
        </activity>


        <!-- test activity

        // kone point : 横竖屏幕问题
        android:screenOrientation="portrait" //指定为竖屏，并且禁止屏幕旋转
        android:screenOrientation="landscape" //指定为横屏，并且禁止屏幕旋转
        android:screenOrientation="sensor"      //由物理的感应器来决定。如果用户旋转设备这屏幕会横竖屏切换。 不设置 android:screenOrientation  默认也是这个

        -->
        <activity android:name=".TestActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|keyboardHidden|screenSize|orientation"
            android:theme="@style/AppTheme"
            >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>



    </application>

</manifest>